@font-face {
  font-family: 'Germania';
  src: url(./fonts/GermaniaOne.ttf) format('truetype');
}
@font-face {
  font-family: 'Potsdam';
  src: url(./fonts/Potsdam.ttf) format('truetype');
}
@font-face {
  font-family: 'Squada';
  src: url(./fonts/SquadaOne.ttf) format('truetype');
}
$background-color: #1d1d1d;
$action-bar-dark-color: #2b2b2b;
$liberal-blue: #5fc7d8;
@mixin action-bar-button($rotation){
  border:none;
  font-family: Potsdam;
  color: #65c4a3;
  background-color: $action-bar-dark-color;
  display: flex;
  align-items: center;
  cursor: pointer;
  h1, h2, h3{
    transform: rotate($rotation);
    cursor: pointer;
    user-select:none;
    font-size: 2em;
    text-align: center;
    width: 100%;
  }
}

//Desktop-specific changes
@media only screen and (min-width: 1300px){
  .game-window .player-sidebar{
    top: 75px;
    background-image: unset !important;
  }
}

.chat-window{
  border: 2px rgb(112, 112, 112) solid;
  position: fixed;
  bottom: 0px;
  left: 20px;
  width: 200px;
  padding: 10px;
  border-top-right-radius: 20px;
  background-color: rgb(194, 183, 255);
  .sent-messages{
    overflow: auto;
    height: 100px;
  }
  &.closed{
    bottom: -350px;
  }
}
.window{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  .lobby-window{
    color: rgb(245, 245, 245);
    position: fixed;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.671);
    z-index: 99;
    .player-list{

      .leader{
        color: goldenrod;
      }

      .you{
        font-weight: bold;
      }
    }    
  }
  .game-window{
    position: fixed;
    width: 100%;
    height:100%;
    
    z-index: 1;
    // background-color: rgb(12, 12, 73);
  }
  .chat-window{
    z-index: 100;
  }
}

.game-window{
  display: grid;
  grid-template-areas: " status status status" 
  "playercard boards  ." 
  "policies boards  ." 
  ". action .";
  grid-template-rows: 75px 3fr 3fr 1fr;
  grid-template-columns: 300px 1fr 300px;
  background-color: $background-color; 
  background-image: linear-gradient(to right, black 0%, #{$background-color} 20%, #{$background-color} 80%, black 100% );
  .boards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    grid-area: boards;
    canvas{
      height: auto;
      max-width: 1000px;
      min-width: 600px;
      width: 100%;
    }
  }
  .status-bar{
    display: grid;
    grid-area: status;
    text-align: center;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 1fr;
    grid-template-areas: 'id info youare';
    background-color: rgb(192, 192, 192);
    padding: 0px 20px 0px 20px;
    .lobby-info{
      grid-area: id;
    }
    .status-div{
      grid-area: info;
      font-family: Germania;
      font-size: 1.2em;
    }
    .you-are{
      grid-area: youare;
    }
  }
  .player-card{
    grid-area: playercard;
  }
  .policies{
    grid-area:policies;
  }
  .player-sidebar{
    right: 0px;
    width: 400px;
    height: inherit;
    background-image: linear-gradient(to left, rgba(0,0,0,1) 25%, rgba(0, 0, 0, 0.527) 75%, #0000);
    position: absolute;
    overflow: auto;
    font-family: Squada;
    .player{
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      width: inherit;
      margin-top: 20px;
      &.liberal .player-bar{
        background-color: $liberal-blue;
      }
      &.fascist .player-bar{
        background-color: rgb(250, 124, 124);
      }
      &.hitler .player-bar{
        background-color: rgb(136, 15, 15);
        color: white;
      }
      &.you .player-bar{
        font-weight: bold;
      }
      .vote{
        order: 1;
        height: 50px;
        width: 30px;
        margin-top: auto;
        margin-bottom: auto;
        &.hidden{
          display: none;
        }
        &.nein{
          transform: scaleX(-1);
          margin-top: 35px;
          margin-right: -15px;
        }
        img{
          width: 50px;
        }
      }
      .bullet-holder{
        order: 2;
        display: flex;
        justify-self: flex-end;
        margin-right: 5px;
        justify-content: center;
        align-items: center;
        z-index: 2;
        img{
          width: 100px;
        }
      }
    }
    .player-bar{
      position: relative;
      .hat{
        width: 60px;
        height: auto;
        position: absolute;
        left: -20px;
        top:-20px;
        transform: rotate(-10deg);
        filter: brightness(2);
      }
      order: 0;
      padding: 20px;
      height: 50px;
      width: 200px;
      background-color: rgb(227, 255, 255);
      border: 2px solid rgb(0, 0, 0);
      border-bottom-left-radius: 20px;
      transition: .25s;
      &.selectable:hover{
        width: 220px;
      }
      &.selected{
        width: 220px;
        border-left-width: 8px;
      }
    }
  }
}

//ACTION BAR INTERFACE
.action-bar-container{
  grid-area: action;
  margin: auto;
}
.action-bar{
  background-color: gray;
  border: 10px solid transparent;
  border-image: url(./Game/media/ActionBarBorder.png) 25 round;
  height: 200px;
  width: 600px;
  border-image-outset: 6px;
  background-color: #65c4a3;
  margin-left: auto;
  margin-right: auto;
  margin: 10px;
}
.action{
  $inner-border-width: 15px;
  border: $inner-border-width solid $action-bar-dark-color;
  width: calc(100% - #{$inner-border-width * 2});
  height: calc(100% - #{$inner-border-width * 2});
  &.discard, &.view-three, &.ja-nein{
  display:flex;
    .policy-cards, .vote-options{
      order: 0;
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 10px;
    }
    .policy-cards .policy{
      height: calc(100% - 20px);
      transition: .25s filter;
      img{
        height: 100%;
      }
      filter: grayscale(0%);
      &:hover{
        filter: grayscale(50%);
      }
      &.selected{
        filter: grayscale(100%);
      }
    }
    .vote-options{
      margin: 20px 0px;
      height: calc(100% - 40px);
      .option{
        height: 100%;
        img{
          transition: .25s transform;
          height: inherit;
          transform: scale(.9);
          &:hover{
            transform: scale(1);
          }
          &.selected{
            transform: scale(1.2);
          }
        }
        
      }
    }
    .discard-button, .continue-button, .vote-button{
      order: 1;
      @include action-bar-button(90deg);
      height:100%;
      margin-right: -5px;
    }
  }
  &.membership{
    display:flex;
    justify-content: space-between;
    .membership-card{
      display: flex;
      justify-content: center;
      padding: 10px;
      height: calc(100% - 10px);
      flex-grow: 1;
      order: 0;
      img{
        height:inherit;
      }
    }
    .continue-button{
      flex-grow: 0;
      order: 1;
      @include action-bar-button(90deg);
      height:100%;
      margin-right: -5px;
    }
  }
  &.pick-player{
    display: flex;
    button{
      border:none;
      text-align: center;
      margin: 20px 90px;
      font-size: 1em;
      width: 100%;
      @include action-bar-button(0deg);
    }
  }
}