@import "./fonts";
@import "./colors";

.alert-bar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(202, 204, 95);
  border-bottom: 3px solid rgb(150, 151, 74);
  margin: 0px;
  padding: 0px;
  transition: .2s top $bouncey-motion-1;
  z-index: 999;
  font-family: $main-stack;
  button {
    position: absolute;
    margin-right: 5px;
    right: 0px;
    align-self: end;
    height: 100%;
    background: unset;
    border: 1px solid black;
    font-size: 25px;
  }
  &.closed {
    top: -75px;
  }
}
