@import './colors';

$status-path: './Game/media/border/status-border.png';

@mixin status-border(){
  background-color: $status-background;
  border-image: url($status-path) round;
  border-image-outset: 20px;
  border-image-slice:54 45 52 45;
  border-image-width: 20px;
}

@mixin liberal-border(){
  background-color: $liberal-blue;
  border: solid 7px transparent;
  border-image-width: 15px;
  border-image: url(./Game/media/border/liberal-border.png) 26 round;
  border-image-outset: 7px;
}

@mixin fascist-border(){
  background-color: $fascist-orange;
  border: solid 7px transparent;
  border-image: url(./Game/media/border/fascist-border.png) 45 round;
  border-image-width: 15px;
  border-image-slice: 45 51 45 45;
  border-image-outset: 7px;
}

@mixin hitler-border(){
  border: solid 7px transparent;
  border-image: url(./Game/media/border/hitler-border.png) 45 round;
  border-image-width: 15px;
  border-image-slice: 45 51 45 45;
  border-image-outset: 7px;
  background-color: $hitler-red;
}

@mixin unknown-border(){
  background-color: $unknown-color;
  border: solid 7px transparent;
  border-image-width: 15px;
  border-image: url(./Game/media/border/unknown-border.png) 26 round;
  border-image-outset: 7px;
}
