@import "./colors";

$border-path: "./media/border/";

@mixin status-border() {
  border-image: url($border-path + "status-border.png") round;
  border-image-slice: 54 45 52 45;
  border-image-width: 20px;
  border-width: 20px;
  margin: 20px;
  border-image-outset: 20px;
  background-color: $status-background;
  > div {
    box-sizing: border-box;
    background-color: $status-background;
  }
}

@mixin liberal-border() {
  >div {
    background-color: $liberal-blue;
    padding: 12px 0px;
  }

  border: 2px solid rgb(0, 0, 0);
  border-width: 12px;
  border-image-width: 12px;
  border-image: url($border-path + "liberal-border.png") 26 round;
}

@mixin fascist-border() {
  >div {
    background-color: $fascist-orange;
    padding: 12px 0px;
  }

  border: 2px solid rgb(0, 0, 0);
  border-width: 12px;
  border-image: url($border-path + "fascist-border.png") 45 round;
  border-image-width: 12px;
  border-image-slice: 45 51 45 45;
}

@mixin hitler-border() {
  >div {
    background-color: $hitler-red;
    padding: 12px 0px;
  }

  border: 2px solid rgb(0, 0, 0);
  border-width: 13px;
  border-image: url($border-path + "hitler-border.png") 45 round;
  border-image-width: 15px;
  border-image-slice: 45 51 45 45;
}

@mixin unknown-border() {
  >div {
    background-color: $unknown-color;
    padding: 12px 0px;
  }

  border: 2px solid rgb(0, 0, 0);
  border-width: 12px;
  border-image-width: 12px;
  border-image: url($border-path + "unknown-border.png") 26 round;
}