$bg-color: #1d1d1d;
$action-bar-bg: #65c4a3;
$action-bar-ink: #2b2b2b;
$liberal-blue: #5fc7d8;
$fascist-orange: #e56344;
$hitler-red: #980300;
$unknown-color: #0e4e6b;
$status-background: #f9e4c3;

$shadow: rgb(160, 160, 180);
$lighter-shadow: rgb(170, 170, 190);
$transparent-shadow: rgb(76 76 76 / 50%);

$bouncey-motion-1: cubic-bezier(0.18, 0.89, 0.1, 1.24);
$bouncey-motion-2: cubic-bezier(0.29, 1.34, 0.07, 1.8);