@import "./colors";
@import "./borders";

$part1-duration: 1s;
$part2-duration: 0.5s;
.animation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10001;
    position: fixed;
    padding: 20px;
    top: calc(50% - 260px);
    left: calc(50% - 260px);
    margin: auto;
    width: 500px;
    height: 500px;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: both;
    animation-delay: $part1-duration + 0.25s;
    animation-duration: $part2-duration;
    h1 {
      font-family: $header-stack;
      font-size: 2.75em;
      text-align: center;
    }
    .buttons {
      display: flex;
      font-family: $subheader-stack;
      justify-content: space-around;
    }
    .close-window {
      position: absolute;
      top: 0;
      right: 0;
      font-family: $subheader-stack;
      font-size: 2rem;
      padding: 0em .5rem;
      line-height: .5;
      cursor: pointer;
    }
    .buttons button {
      font-family: inherit;
      font-size: 2em;
      @include fascist-border();
      border: 10px solid transparent;
      outline: none;
      cursor: pointer;
      transition: 0.1s;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
  .slidein-background {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    animation-name: fillWidth;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: $part1-duration;
    z-index: 10000;
  }
  &.liberal {
    .content {
      border: 15px solid black;
      @include unknown-border();
      background-color: $liberal-blue;
    }
    .slidein-background {
      background-color: $liberal-blue;
    }
    .buttons button {
      @include unknown-border();
      color: white;
    }
  }
  &.fascist {
    .content {
      border: 15px solid black;
      @include hitler-border();
      background-color: $fascist-orange;
    }
    .slidein-background {
      background-color: $hitler-red;
      right: 0;
    }
    .buttons button {
      @include hitler-border();
      color: white;
    }
  }
  &.hidden {
    display: none;
  }
}

@keyframes fillWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
