.boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: boards;
  width: auto;
  .board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  .board canvas {
    // 100px as opposed to a margin.
    max-height: calc(100vw - 100px);
  }
}