$board-width: 800px;
.boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-area: boards;
  width: auto;
  .board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
  }
  canvas {
    // 100px as opposed to a margin.
    max-width: calc(100vw - 100px);
  }
}

@media screen and (min-width: 1200px) {
  .boards {
    canvas {
      max-width: 50vw;
    }
  }
}
