@use '_fonts.scss';
$background-color: #2b2b2b;
@font-face {
  font-family: 'FasterOne';
  src: url(./fonts/FasterOne-Regular.ttf) format('truetype');
}
.lobby-window, .menu-window{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.671);
  z-index: 99;
  .content{
    font-family: Squada;
    display: grid;
    grid-template-areas: "header"
    "status"
    "middle"
    "bottom";
    grid-template-rows: 175px auto 1fr 50px;
    width: 500px;
    height: 500px;
    background-color: rgb(189, 189, 189);
    border-radius: 25px;
    border-bottom: 5px solid rgb(192, 192, 192);
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 20px;
  }
  .lobby-status{
    grid-area: status;
    display: flex;
    justify-content: center;
    font-family: Squada;
    .new-player-form{
      margin: 10px;
    }
  }
  .site-header{
    grid-area: header;
    text-align: center;
    .site-title{
      font-family: FasterOne;
      font-size: 2em;
    };
    .lobby-title{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      input{
        position: fixed;
        z-index: -1;
        top: -100px;
        left: -100px;
      }
      font-family: Squada;
      font-size: 1.5em;
      cursor: pointer;
      &:hover{
        color: rgb(32, 32, 32);
        span{
          opacity: 1;
        }
      }
      span{
        transition: 0s;
        position: absolute;
        right: 0px;
        // top: -.8rem;
        opacity: 0;
        font-size: 1rem;
        color: white;
      }
    };
  }
  .new-lobby{
    grid-area: status;
    font-size: 2em;
    width: 300px;
    border-radius: 10px;
    border-bottom: 5px solid black;
    margin: auto;
  }
  .existing-lobby{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: middle;
    font-size: 2em;
    margin: 0px 30px;
    text-align: center;
    font-family: Squada;
  }
  .bottom-button{
    grid-area: bottom;
    margin: auto;
    button{
      font-family: Germania;
      font-size: 1.5em;
    }
  .num-spectators{
     color: blue;
     position: absolute;
     bottom: 0;
     left: 0;
  }
  }
  .player-list{
    grid-area: middle;
    font-family: Squada;
    font-size: 1.25em;
    transition: .25s height;
    ul{
      list-style-type: none;
    }
    .leader{
      color: rgb(149, 6, 6);
    }
    .disconnected{
      cursor: pointer;
      &:hover{
        color: black;
      }
    }
    .you{
      font-weight: bold;
    }
  }
}

@keyframes waveBackground{
  0%{
    background-color: #5fc8d8;
  }
  100%{
    background-color: rgb(250, 124, 124);
  }
}

.menu-window{
  animation: waveBackground;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}