@import "_fonts.scss";
@import "_colors.scss";

$backdrop-color: rgb(198, 198, 198);
$shadow: rgb(159, 156, 156);

.lobby-window,
.menu-window {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  .content {
    border: 5px solid black;
    position: relative;
    font-family: $header-stack;
    display: grid;
    grid-template-areas:
      "header"
      "status"
      "middle"
      "bottom";
    grid-template-rows: auto auto 1fr 50px;
    width: 500px;
    height: 500px;
    padding: 20px;
    .background {
      position: absolute;
      top: 0;
      width: 500px;
      height: 500px;
      margin-top: 10px;
      margin-left: 10px;
      background-color:$backdrop-color;
      z-index: -1;
      padding: 20px;
    }
    button {
      font-family: $header-stack;
    }
    * {
      z-index: 3;
    }
  }
  .lobby-status {
    grid-area: status;
    display: flex;
    justify-content: center;
    font-family: $title-stack;
    color: $unknown-color;
    .new-player-form {
      margin: 10px;
    }
  }
  .site-header {
    grid-area: header;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    .site-title {
      text-shadow: 5px 5px 0px $shadow;
      margin-top: 50px;
      font-family: Potsdam;
      font-size: 1.5em;
    }
    .lobby-title {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      color: $hitler-red;
      input {
        position: fixed;
        z-index: -1;
        top: -100px;
        left: -100px;
      }
      font-family: $header-stack;
      font-size: 1.25em;
      cursor: pointer;
      &:hover {
        color: rgb(32, 32, 32);
        span {
          font-family: $subheader-stack;
          opacity: 1;
        }
      }
      span {
        transition: 0s;
        position: absolute;
        right: 0px;
        // top: -.8rem;
        opacity: 0;
        font-size: 1rem;
        color: white;
        text-shadow: 1px 1px 1px $shadow;
      }
    }
  }
  .new-lobby {
    grid-area: status;
    font-size: 2em;
    width: 300px;
    margin: auto;
  }
  .new-lobby, .single-input-form, .bottom-button{
    box-shadow: 5px 5px 0px $shadow;
  }
  .existing-lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: middle;
    font-size: 2em;
    margin: 0px 30px;
    text-align: center;
    text-shadow: 3px 3px 0px $shadow;
    font-family: $subheader-stack;
    h4 {
      padding-bottom: 20px;
    }
  }
  .bottom-button {
    grid-area: bottom;
    margin: auto;
    button {
      font-family: $subheader-stack;
      font-size: 1.5em;
    }
    .num-spectators {
      color: blue;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  .player-list {
    color: darken($fascist-orange, 10%);
    grid-area: middle;
    font-family: $subheader-stack;
    font-size: 1.25em;
    transition: 0.25s height;
    overflow-y: scroll;
    display: flex;
    justify-content: space-between;
    margin: 0em 1em;
    ul {
      list-style-type: none;
    }
    .leader {
      color: rgb(149, 6, 6);
    }
    .disconnected-players {
      .disconnected {
        cursor: pointer;
        color: black;
        transition: 0.1s;
        &:hover {
          color: lighten($unknown-color, 20%);
        }
      }
    }
    .you {
      font-weight: bold;
    }
  }
}

@keyframes waveBackgroundGradient {
  0% {
    background-color: $liberal-blue;
  }
  100% {
    background-color: $fascist-orange;
  }
}

.lobby-window {
  background-color: rgba(0, 0, 0, 0.8);
}

.wave-background {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  transition: opacity 0.5s linear;
  &.fade {
    opacity: 0.5;
  }
  .gradient {
    height: 100vh;
    width: 100vw;
    animation-name: waveBackgroundGradient;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
  }
}
