@import "./colors";
@import "./fonts";
$action-bar-width: 600px;
$action-bar-height: 300px;

@mixin action-bar-button($rotation) {
  border: none;
  outline: unset;
  font-family: $subheader-stack;
  color: $action-bar-bg;
  background-color: $action-bar-ink;
  display: flex;
  align-items: center;
  cursor: pointer;
  h1 {
    font-family: $title-stack;
    text-align: center;
    width: 100%;
  }
  h1,
  h2,
  h3 {
    transform: rotate($rotation);
    cursor: pointer;
    user-select: none;
    font-size: 2em;
    text-align: center;
    width: 100%;
  }
}

//ACTION BAR INTERFACE
.action-bar-container {
  grid-area: action;
  display: flex;

  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  .action-bar {
    height: calc(100% - 100px);
  }
}
.action-bar {
  border: 13px solid black;
  border-image: url(./media/border/action-border.png) 30 round;
  width: $action-bar-width;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-image-outset: 6px;
  background-color: $action-bar-bg;
}
.action {
  $inner-border-width: 15px;
  height: calc(100% - 30px);
  border: $inner-border-width solid $action-bar-ink;
  &.discard,
  &.view-three {
    display: flex;
    .policy-cards {
      order: 0;
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0px 30px;
      transition: 0.25s width;
    }
    .policy {
      height: calc(100% - 20px);
      transition: 0.25s filter;
      &:hover {
        filter: grayscale(50%);
      }
    }
    .policy.selected {
      filter: grayscale(100%);
    }
  }
  &.ja-nein {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .vote-options {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-grow: 1;
      margin: 20px 0px;
      height: calc(100% - 40px);
      .option {
        height: 100%;
        img {
          height: 100%;
          width: auto;
          transition: 0.25s transform;
          transform: scale(0.9);
          &:hover {
            transform: scale(1);
          }
          &.selected {
            transform: scale(1.2);
          }
        }
      }
    }
    .hidden {
      display: none;
    }
    .vote-button.hidden {
      display: none;
    }
  }
  .discard-button,
  .continue-button,
  .vote-button {
    margin: unset;
    @include action-bar-button(90deg);
    height: 100%;
    margin-right: -5px;
  }
  .stacked-buttons {
    display: flex;
    flex-direction: column;
    div {
      flex-grow: 1;
      border: 3px solid rgb(255, 255, 255);
      @include action-bar-button(0deg);
    }
  }
  &.membership {
    display: flex;
    justify-content: space-between;
    .membership-card {
      display: flex;
      justify-content: center;
      padding: 10px;
      height: calc(100% - 10px);
      flex-grow: 1;
      order: 0;
      img {
        height: inherit;
      }
    }
    .continue-button {
      flex-grow: 0;
      order: 1;
      @include action-bar-button(90deg);
      height: 100%;
      margin-right: -5px;
    }
  }
  &.pick-player,
  &.exit {
    display: flex;
    button {
      border: none;
      margin: auto;
      text-align: center;
      font-size: 1em;
      padding: 45px 80px;
      min-width: 350px;
      height: auto;
      @include action-bar-button(0deg);
    }
  }
}

@media screen and (max-width: $action-bar-width * 1.11) {
  // 1.11 = 100%/90%. Seamlessly converts to filled-width.
  .action-bar {
    width: 90vw;
  }
}
