@use "sass:color";

@mixin scroll-bar($c) {
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: adjust-color($color: $c, $lightness: 15%);
  }
  &::-webkit-scrollbar-thumb {
    background: $c;
  }
  &:-webkit-scrollbar-track:hover {
    background: adjust-color($color: $c, $lightness: -50%);
  }
}
